.container {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mem__title {
  font-size: 30px;
  color: #929292;
}

.mem__pic {
  display: block;
  font-size: 20px;
}

.mem__dot {
  display: block;
}